extends layout
block header
    include header
block content
    h1 s4njee
    h3
        small About
    p.
        This site was written using nodejs, expressjs, sqlite3 and twitter bootstrap. It is intended to store creative works; like a portfolio but not intended to be too seriousi
    p.
           Comments or questions can be sent to sanjee.yogeswaran@gmail.com
    +chitika
