extends layout
block header
    include header
block content
    div(class="container")
        h1 s4njee
        +chitika
        div(class="container-fluid")
        each dir in d
            div(class="col-md-2")
                a(href='../albums/'+dir)
                    img(src='../albums/'+dir + "/1.jpg.jpeg",class="thumb")
                    
                    p= dir
