nav(class='navbar navbar-default')
    div(class='container-fluid')
        ul(class='nav navbar-nav')
            li 
                a(href="/") 
                    span(class="glyphicon glyphicon-home" aria-hidden="true") 
                    span Home
            li 
                a(href='/photos/'+t)  
                    span(class="glyphicon glyphicon-camera" aria-hidden="true") 
                    span Photos
            li 
                a(href='https://github.com/s4njee') 
                    span(class="glyphicon glyphicon-floppy-saved" aria-hidden="true") 
                    span GitHub
            li 
                a(href='/otherprojects') 
                    span(class="glyphicon glyphicon-folder-open" aria-hidden="true") 
                    span Other Projects
