doctype html
html
  head
    script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WWQLK2P');
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://bootswatch.com/yeti/bootstrap.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Merriweather:700')
  body
    noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WWQLK2P', height='0', width='0', style='display:none;visibility:hidden')
    block header
    block content
