extends layout
block header
    include header
block content
    h1 s4njee
    div(class="col-md-4")
            a(href="http://congress.privatedns.org")
                h3 govtrack api
            p.
                A frontend for the govtrack API using the angularjs library. Links at the top show recent activity in congress, while the search bar uses ajax to update related bills in realtime.


    div(class="col-md-4")
            a(href="http://github.com/s4njee/gentoodev")
                h3 Gentoo Builder 
            p.
                A collection of bash scripts to automate the process of building a gentoo linux distro. Partitions hard disk, extracts stage3, installs portage, compiles kernel, installs bootloader and asks for root password. 

    div(class="col-md-4")
            a(href="/wiimodchip")
                h3 Wii Modchip 
            p.
                A modchip installation on the Nintendo Wii that allows for homebrew applications to be installed, as well as emulation support and multi-game discs involving gamecube games.
