extends layout
block header
    include header
block content
    h1 s4njee
    div(class='row')
        div(class="col-md-4")
                a(href="http://www.csearch.us")
                    h3 CSearch.us
                p.
                    A fast frontend for the govtrack, sunlightfoundation, and GPO APIs using the react library. Links at the top show recent activity in congress, while the search bar uses ajax to update related bills in realtime.


        div(class="col-md-4")
                a(href="http://github.com/s4njee/gentoodev")
                    h3 Gentoo Builder 
                p.
                    A collection of bash scripts to automate the process of building a gentoo linux distro. Partitions hard disk, extracts stage3, installs portage, compiles kernel, installs bootloader and asks for root password. 
                p.
                    Requires pre-partitioning, some manual wireless configuration, and is intended for BIOS installations. UEFI installations are incompatible.

        div(class="col-md-4")
                a(href="/wiimodchip")
                    h3 Wii Modchip 
                p.
                    A modchip installation on the Nintendo Wii that allows for homebrew applications to be installed, as well as emulation support and multi-game discs involving gamecube games.
    div(class='row')
        div(class="col-md-4")
                a(href="http://cdi.s4njee.com")
                    h3 CDC Chronic Disease Indicators 
                p.
                    An easy to use filtering system for the CDC Chronic Disease indicators data that is found on data.gov. 
        div(class="col-md-4")
                a(href="http://github.com/s4njee/detoxclox")
                    h3 Detox Clox
                p.
                   A simple timer written using the Qt toolkit. Allows for countdown timing, as well as chronograph count up. 
    +chitika
