extends layout
block header
    include header
block content
    h1 s4njee
    - var photoid = parseInt(t)-parseInt(currentphoto.id)
    div(class='centerDiv')
        h2(class="photoid")= parseInt(currentphoto.id)
    div(class='centerDiv')
        - var nextimage = parseInt(currentphoto.id)-1
        a(href='./'+nextimage,class="photo")
            img(src='../images/_'+currentphoto.id+'.jpg', class="photos")
