extends layout
block header
    include header
block content
    h1 s4njee
    div(class='centerDiv')
        h2(class="photoid")= parseInt(currentphoto)
    div(class='centerDiv')
        - var nextimage = parseInt(currentphoto)-1
        a(href='./'+nextimage,class="photo")
            img(src='../images/_'+currentphoto+'.jpg', class="photos")
