extends layout
block content
    script(src="//cdn.tinymce.com/4/tinymce.min.js")
    script.
        tinymce.init({ selector:'textarea', 
        theme: 'modern',
        plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality',
                        'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
                          
        ],
          toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
              image_advtab: true,
              content_css: [
                  '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                      '//www.tinymce.com/css/codepen.min.css'
              ]
        });
        
    div(class="col-md-8")
        if locals.rowid
            form(method="POST",action='/postroute/'+rowid) 
                textarea(name='posttext',id='posttext').
                    #{post}
                button(type="submit",class="btn btn-primary",name='action', value="post") Post
                button(type="submit",class="btn btn-danger",name='action', value='delete') Delete
        else
            form(method="POST",action='/postroute') 
                textarea(name='posttext',id='posttext').
                button(type="submit",class="btn btn-primary") Post

