extends layout

block header
    include header
block content
    h1(id="wiiheader") s4njee
    h2(id="wiisubheader")
        small Modding a wii
    each p in photos
        div(class="container")
            img(src='/images/wiimodchip/'+p)
      
