extends layout

block header
    include header
block content
    h1(id="wiiheader") s4njee
    +chitika
    h3(id="wiisubheader")
        small Modding a wii
    each p in photos
        img(src='/albums/wiimodchip/'+p)

     
