body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.photos
{
    width:800px
}
#header{
    color:black;
    text-decoration:none;
}
.centerDiv{
 display: flex;
 justify-content: center;
 align-items: center;
}
h1{
    margin:0
}
h3{
    margin-top:0!important;
}
.date{
    font-weight:bold;
    margin:0;
}
.time{
    font-size:smaller;
    color:#888;
}
.photo{
    margin-bottom:40px;
}
.photoid{
    margin-top:-52px;
}
.glyphicon{
    margin-right:4px;
}
.projectheader{
    margin-left:15px;
}
.post{
    margin:0px;
}
.time{
    margin:0px;
}
.postdiv
{
    margin-bottom:20px;
}
.postdiv img{
    margin-left:-40px;
}
.postdiv p{
    font-size:12px!important;
}
#wiiheader{
    margin-bottom:0px;
}
#wiisubheader{
    margin-top:0px;
}
ul li{
    font-size:smaller;
    margin-bottom:5px;
}
.lastposts{
        margin-bottom: 30px;
        margin-left: 30px;
        display: flex;
}
